*{
    margin: 0;
    padding: 0;
}



/* Css nav */
.cate__app{
    
}

.cate__app_layout{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    background-color: #fff;
    min-width: 300px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    padding: 0 36px;
    /* top: 42px; */
}

.cate__app_img{
    border-bottom: 1px solid #bdd2ec;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
}


.cate__ap_img-layout{
    --img-px: 200px;
    max-width: var(--img-px);
    max-height: var(--img-px);
    border-radius: 50%;
    border: 4px solid var(--boder-color);
    position: relative;
    top: 26px;
    margin: 20px auto;
}

.icon__upfile{
    --icon-upfile: 28px;
    height: var(--icon-upfile);
    width: var(--icon-upfile);
    border-radius: 50%;
    line-height: 24px;
    background-color: #fff;
    position: absolute;
    top: 228px;
    left: 46%;
    display: flex;
    background: linear-gradient(262deg, #ff7854, #fd267d);
    cursor: pointer;
}

.icon__upfile > i{
    line-height: 28px;
    margin: 0 auto;
    color: var(--text-color1);
}

.cate__app_profile{
    margin: 0 auto;
    padding-top: 14px
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    ;
    list-style: none;
    display: flex;
    max-width: 140px;
    justify-content: space-around;
}

.cate__app_profile-link{
    display: flex;
    margin: 0 20px;
    text-decoration: none;
    color: var(--text-color1);
    --profile-icon: 28px;
    height: var(--profile-icon);
    width: var(--profile-icon);
    border-radius: 50%;
    background: linear-gradient(262deg, #ff7854, #fd267d);
}

.cate__app_profile-link > i{
    margin: 0 auto;
    line-height: 28px;
    font-size: 0.8rem;
}

/* .nav__layout_menu{
    margin-top: -30px;
} */

.nav__layout_menu-list{
    list-style: none;
    display: flex;
}
.nav__layout_menu-link{
    flex: 1;
    line-height: 40px;
    height: 40px;
    margin: 6px 0;
    color:var(--text-color3);
    font-size: 1rem;
    text-align: center;
    display: block;
    text-decoration: none;
    background: linear-gradient(262deg, #ff7854, #fd267d);
    border-radius: 8px;
    cursor: pointer;
}

.nav__layout_menu-link:hover{
    background: linear-gradient(22deg, #ff7854, #fd267d);
}


.nav__layout_setting{
    margin: 20px 0 20px 0;
    position: relative;
}

.nav__layout_setting > h3{
    position: absolute;
    bottom: 34%;
    right: 26%;
    font-size: 4rem;
    font-style: italic;
}

.nav__layout_setting-list{
    list-style: none;
    display: flex;
}
.nav__layout_setting-link{
    height: 40px;
    line-height: 40px;
    margin: 6px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    position: relative;
    flex: 1;
    color: var(--text-color1);
    background: linear-gradient(262deg, #ff7854, #fd267d);
    border-radius: 8px;
    transform: translateX(-94%);
    transition: transform linear 0.4s, opacity linear 0.4s
}

.nav__layout_setting-link:hover{
    transform: translateX(0);
    color: var(--text-color3);
}

.nav__layout_setting-link > i{
    position: absolute;
    right: 12px;
}

.nav__layout_setting-link:hover > i{
    color: white;
}

.layout__padding{
    padding: 14px 0;
}

.layout__filter_padding{
    /* margin: 0px 0px 14px 7px; */
}

/* Css filter */
.filter__layout_container{
    display: flex;
}

.layout__position{
    position: fixed;
    top: 0%;
    right: 0;
    z-index: 1000;
    width: 100%;
}

.filter__layout{
    display: flex;
    justify-content: space-between;
    flex: 1;
    padding: 6px 10px;
    align-items: center;
    background-color: white;
    border-bottom-left-radius: 8px;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.6);
}
.filter__layout_heading{
    color: rgb(126, 126, 126);
    font-size: 1rem;
    margin-right: 16px;
    cursor: pointer;
    display: none;
}

.filter__layout_btn-select,
.filter__layout_btn-select--1{
    min-width: 100px;
    height: 30px;
    outline: none;
    border-radius: 4px;
    border: 1px solid transparent;
    margin-right: 14px;
    cursor: pointer;
    color: var(--text-color1);
}
.filter__layout_btn-select--1{
    background: linear-gradient(262deg, #ff7854, #fd267d);
    color: var(--text-color3);
}
.filter__layout_select{
    display: flex;
    padding: 0 16px;
    justify-content: space-between;
    align-items: center;
    min-width: 120px;
    border-radius: 4px;
    background-color: rgba(239, 239, 239, 1 );
    cursor: pointer;
    position: relative;
    
}

.filter__layout_select-list::before{
    content: '';
    position: absolute;
    height: 20px;
    width: 120px;
    top: -15px;
    right: 0;
}

.filter__layout_select:hover .filter__layout_select-list{
    display: block;
}

.filter__layout_select-list{
    position: absolute;
    top: 40px;
    right: 0;
    width: 120px;
    height: 110px;
    background-color: rgba(239, 239, 239, 1 );
    padding: 10px;
    border-radius: 3px;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.6);
    display: none;
    animation: droping ease-in 0.6s;
}

.filter__layout_select-list--item{
    list-style: none;
    text-align: center;
}

.filter__layout_select-list--link{
    text-decoration: none;
    color: var(--text-color1);
    font-size: 1rem;
}

.filter__layout_select-list--link:hover{
    color: var(--text-color2);
}

.filter__layout_select-label{
    color: var(--text-color1);
    font-size: 1rem;
}

.select-input_icon{
    font-size: 1.1rem;
    color: rgb(126, 126, 126);
}

.filter__layout_search{
    display: flex;
    height: 30px;
    align-items: center;
    margin:0 14px;
    color: rgb(126, 126, 126);
    cursor: pointer;
    
}
.filter__layout_search-wrap{
    display: flex;
    position: relative;
    height: 100%;
    min-width: 300px;
}

.filter__layout_search-input{
    width: 100%;
    height: 100%;
    outline: none;
    padding: 8px 30px 8px 10px;
    border: 1px solid rgb(126, 126, 126);
    border-radius: 3px;
    background-color: rgba(239, 239, 239, 1 );
    border: none;
    position: relative;
}
.filter__layout_search-input--btn{
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 3%;
}
/* css container post */

.container__post{
    width: 570px;
    min-height: 650px;
    background-color: white;
    position: relative;
    --top-position:54px;
    top: var(--top-position);
    border-radius: 14px;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.6);
    margin: 0 auto;
    margin-bottom: 14px;
}
.container__post_layout{
   
}
.container__post_header{
    padding: 8px 14px;
    height: 60px;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #ffe9f2;
}

.container__post_header-avatar{
    margin-right: 16px;
    display: flex;
    align-items: center;
}

.container__post_header-avatar--layout{
    --img:38px;
    height: var(--img);
    width: var(--img);
    border-radius: 50%;
}

.container__post_header-info >a {
    text-decoration: none;
    color: var(--text-color1);
}

.container__post_header-name{
    font-size: 0.8rem;
    line-height: 0.8rem;
}

.container__post_header-time{
    display: flex;
    font-size: 0.6rem;
    line-height: 1rem;
    align-items: center;
    width: 40px;
    justify-content: space-between;
}
.container__post_title{
    padding: 8px 14px;
    min-height: 0px;
}
.container__post_title_cap{
    color: var(--text-color1);
    font-size: 1rem;
}

.container__post_img{
    max-width: 570px;
    max-height: 560px ; 
}

.container__post_img-layout{
    width: 100%;
    max-height: inherit;
    object-fit: cover;
}

.container__post_event{
    height: 240px;
    padding: 8px 14px;
}

.container__post_event-layout{
    min-height: 60px;
    display: flex;
    padding: 0 30px 8px 30px;
    justify-content: space-between;
    border-bottom: 1px solid #bdd2ec;
}
.container__post_event-btn{
    height: 60px;
    min-width: 60px;
    display: flex;
    align-items: center;
    outline: none;
    cursor: pointer;
    /* background: linear-gradient(90deg, #ff7854, #fd267d); */
    border-radius: 50%;
}



.container__post_event-btn > i{
    color: #b3b3b3;
    margin: 0 auto;
    font-size: var(--heart-btn);
}

.container__post_status_ready > p {
    color: var(--text-color1);
    font-size: 1.2rem;
    cursor: default;;
}

.container__post_status_realdy > i {
    font-size: 1.2rem;
    color: var(--text-color2);
}

.container__post_status_nonready > p{
    color: rgba(118, 118, 118, 0.659);
    font-size: 1.2rem;
}

.container__post_status_nonready > i {
    font-size: 1.2rem;
    color: var(--text-color2);
}

.container__post_event-info{
    display: flex;
    justify-content: space-between;
}

.container__post_event-location{
    min-width: 90px;
}

.container__post_event_loca-info{
    display: flex;
    justify-content: center;
    font-size: 1rem;
    color: var(--text-color1);
}

.container__post_event_loca-info > span{
    padding-left: 10px;
    font-size: 1rem;
    color: var(--text-color2);
} 

.container__post_event-info{
    padding-bottom: 6px;
    border-bottom: 1px solid #bdd2ec;
    position: relative;
}



.container__post_event-status--name,
.container__post_event-status--age,
.container__post_event-status--infoBody,
.container__post_event-status--genitive{
    font-size: 0.9rem;
    color: var(--text-color1);
}

.container__post_event-status--eventBtn{
    position: absolute;
    min-width: 100px;
    height: 40px;
    line-height: 40px;
    outline: none;
    border-radius: 10px;
    border: none;
    /* border: 1px solid #bdd2ec; */
    background: linear-gradient(262deg, rgb(255, 120, 84), rgb(253, 38, 125));
    color: var(--text-color3);
    bottom: -20px;
    left: 40%;
    padding: 0 8px;
    cursor: pointer;
}

/* css event layout */
.form__auth-header > h3{
    text-align: center;
    font-size: 1.6rem ;
}

.form__auth_input-name{
    font-size: 1rem;
}


.layout__general_event-layout{
    display: flex;
    max-width: 330px;
    min-height:var(--header-card);
    background-color: #fff;
    border-radius: 14px;
    box-shadow: rgba(0, 0, 0, 0.6) 0px 1px 3px 0px;
    overflow: hidden;
    margin-bottom: 36px;
    /* padding: 6px 8px; */
}

.layout__general_event-icon--layout{
    width: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: ;
}

.layout__general_event-icon > i{
    margin: 0 auto;
    color: var(--text-color2);
}



.layout__general_event-icon{
    display: block;
    height: 38px;
    width: 38px;
    border-radius: 50%;
    background-color: rgb(206, 206, 206);
    text-align: center;
    line-height: 38px;
    margin: 0 auto;
}

.layout__general_event-content{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.layput__general_event-content--heading{
    font-weight: 400;
    font-size: 1rem;
    color: var(--text-color1);
}

.layout__general_event-content--body{
    font-size: 0.75rem;
    color: var(--text-color1);
}

.layout__general_event-button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40px;
}

.layout__general_event-button--link:hover > i{
    animation: rotate linear 0.9s;
}

.layout__general_event-button--link > i{
    color: var(--text-color2);
    
}

.card__event-position{
    position: fixed;
    top: var(--header-cardTop);
}

.card__event-position2{
    position: fixed;
    top: calc(var(--header-card) + var(--header-cardTop) + 20px);
}

.card__event-position3{
    position: fixed;
    top: calc(var(--header-card)*2 + var(--header-cardTop) + 40px);
}

.card__event-position4{
    position: fixed;
    top: calc(var(--header-card)*3 + 118px);
}
/* button on the tablet & mobile */

.filter__tablet_overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 149;
    background-color: rgba(0, 0, 0, 0.3);
     display: none;
}
.nav__tablet{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 320px;
    background-color: #fff;
    transform: translateX(-100%);
    opacity: 0;
    transition: transform linear 0.2s, opacity linear 0.2s; 
    z-index: 11111;
}

.nav__tablet_heading{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 20px;
}

.nav__tablet_heading > label{
    cursor: pointer;
}

.filter__input:checked ~ .nav__tablet{
    transform: translateX(0);
    opacity: 1;
}

.filter__input:checked ~ .filter__tablet_overlay{
    display: block;
}

.btn__nav_close:checked ~ .nav__tablet{
    transform: translateX(-100%);
    opacity: 0;
}



.btn__nav_close > i {
    color: var(--text-color2);
    font-size: 1.2rem;
}

.nav__tablet_menu{
    list-style: none;
    height: 70px;
    line-height: 70px;
}

.nav__tablet_menu-item--link{
    display: flex;
    text-decoration: none;
    justify-content: center;
    color: var(--text-color2);
}

.nav__tablet_menu-item--link:hover{
    background-color:#ebebeb ;
}

.form__auth_label{
    display: flex;
    align-items: center;
    margin-left: 40px;
}

.form__auth_label-link{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    text-decoration: none;
    color: var(--text-color2);
    height: 52px;
    line-height: 47px;
    min-width: 100px;
    border: 1px solid black;
    border-radius: 20px;
}

.form__auth_input{
    
}

.form__auth_input-container{
    display: flex;
}

.form__auth_input-layout{
    flex: 1;
    margin: 0 40px;
    padding: 4px 10px;
    outline: none;
    border-radius: 13px;
    border: 1px solid var(--text-color2);
}

.form__auth-body > p{
    text-align: center;
    padding: 10px 0px 20px 0px;
}

.form__auth-body > h3{
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 20px;
}

.form__auth-body--getinfo{
    margin: 20px 0;
}

.btn__close_heading{
    cursor: pointer;
}

.btn__close_heading:hover{
    color: var(--text-color2);
}

/* css modal Event */
.form__auth_header-layout{
    border-bottom: 1px solid #bdd2ec;
}

.form__auth_header-layout > h3 {
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
    align-items: center;
    padding-bottom: 6px;
    color: var(--text-color2);
}

.form__auth_event{
    max-width: 100%;
    height: auto;
}

.event__layout_img-layout{
    max-width: 416px;
    height: auto;
    border-radius: 10px;
    overflow: hidden;
}

.form__auth_event-layout > h3{
    text-align: center;
    font-weight: 500;
    font-size: 0.9rem;
    margin: 4px 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--text-color1);
}

.event__layout_img{
    text-decoration: none;
    position: relative;
    display: block;
    overflow: hidden;
    height: 290px;
}
.show__off{
    width: 405px;
    height: 465px;
    position: relative;
    top: -450px;
    left: -480px;
    transition: 2s;
    transform: rotate(30deg);
    background: linear-gradient(90deg, rgba(255,255,255, 0)50%, rgba(255,255,255,0.7)100%);
}

.event__layout_img:hover > .show__off{
    transform: rotate(0);
    left: 14px;
    top: -445px;
}

/* css img story */
.mobile__story{
    top: 50px;
    position: relative;
    display: none;
}

.mobile__story_list{
    display: flex;
    list-style: none;
    padding-left: 0;
    max-width: 100%;
    overflow-x: auto;
    margin: 0;  
}
    

.mobile__story_item{
    flex-shrink: 0;
    margin: 0 8px;
    border-radius: 4px;
}

.mobile__story_img{
    --line-height: 2rem;
    /* top: var(--header-cardTop);
    position: relative; */
   text-decoration: none; 
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 2;
   width: 120px;
    height: var(--line-height)*2;
    line-height: var(--line-height);
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
    padding: 0 6px;
    border-radius: 14px;
}

